.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

#button_sidepanel {
	height: 50%;
	position: absolute;
	z-index: 2;
	left: 10px;
}

body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.lateral-list {
	padding-top: 10px;
	padding-bottom: 20px;
}
